h2{
    color: #0d6efd;
    font-family: 'Montserrant';
    font-size: 22px;
    font-style: normal;
    font-weight: 150%;
    line-height: 150%;
    border-bottom: 1px solid #0d6efd;
    text-transform: uppercase;
    border-bottom: 1px solid #0d6efd;
    
}