
.login-container {
  border-radius: 16px;
  border: 1px solid #ffffff;
  background-color: #f8f9fa;
  box-shadow: 0px 8px 16px 0px rgba(32, 83, 160, 0.295);
  width: 700px;
  max-width: 95%;
  margin: 40px auto;
  padding: 56px;
  box-sizing: border-box;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.logo img {
  max-width: 120px;
}


h2 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 700;
  color: #08206b;
  margin: 12px 0;
}


hr {
  margin-bottom: 25px;
  border: none;
  height: 1px;
  background-color: #0080ff;
}

label {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-align: left;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0 12px 0;
  padding: 8px 12px;
  font-family: 'Montserrat';
  font-size: 18px;
  background-color: #F5F8FD;
}

input:focus {
  outline: none;
  border-color: #0D6EFD;
}

.lembrar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 20px 0;
}

.lembrar-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

button {
  color: #FFFFFF;
  background-color: #0D6EFD;
  cursor: pointer;
  width: 100%;
  height: 41px;
  border-radius: 4px;
  border: none;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: #0b5ed7;
}

button:disabled {
  background-color: #ADB5BD;
  cursor: not-allowed;
}

.esqueci {
  text-align: center;
}

.esqueci a {
  color: #0D6EFD;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 15px;
}

.esqueci a:hover {
  text-decoration: underline;
}